* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    width: 100%;
    height: 100%;
}

#maindiv {

    background-color: #541554;
    width: 100%;
    height: 500%;

}

#navbar {

    width: 100%;
    height: 20%;
    background-color: #541554;
    position: fixed;
    display: flex;
    z-index: 99;


}

#hover {

    background-color: #541554;
    width: 17%;

}


#div {

    width: 270%;
    height: 50vh;
    background-color: #ffffff;
    border-radius: 10px;
    display: none;
    margin-bottom: 50%;
    transition: cubic-bezier(0.19, 1, 0.22, 1)5s;
}

.divback1 {

    width: 100%;
    height: 13%;
    background-color: #1d078d;


}

.div1 {

    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin-top: 1px;
   


}

#hover:hover #div {

    display: block;
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715)5s;

}

.divback1:hover .div1 {

    background-color: #0d91f7;
    transition: cubic-bezier(0.23, 1, 0.320, 1)1s;
    color: rgb(255, 255, 255);


}

.div1:hover a {

    color: #ffffff;

}




#top2 {

    width: 50%;
    height: 30%;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    background-color: #541554;


}

a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(251, 251, 251);
    font-size: 16px;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}


a:hover {

    text-decoration: underline;

}


#hide {

    background-color: #cb0606;
    width: 20%;
    height: 130%;
    display: none;
    position: absolute;
    margin-top: 1%;
    margin-left: 0%;



}



#hover:hover #hide {

    display: block;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275)10s;


}


#hover:hover #ipll {

    z-index: 4;


}


#ipl {

    background-color: #541554;
    width: 2%;
    height: 15%;
    position: absolute;
    left: 22.5%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;


}


#ipll {
    background-color: #541554;
    width: 100%;
    height: 100%;
    margin-top: %;
}

#iplll {

    background-color: #541554;
    width: 100%;
    height: 100%;
    position: absolute;


}



.textdiv {

    width: 50%;
    height: 120vh;
    background-color: #541554;
    margin-top: 4%;
    margin-left: 50px;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}

.vediodiv {

    width: 50%;
    height: 120vh;
    background-color: #541554;
    margin-top: 4%;


}


h1 {
    font-size: 60px;
    color: aliceblue;
}

h2 {
    font-size: 60px;
    color: rgb(255, 187, 0);
}

p {
    font-size: 20px;
    color: white;

}



#divtext2 {

    width: 50%;
    height: 80%;
    background-color: #f4ede4;
    margin-top: 2%;

}

#divvedio2 {

    width: 50%;
    height: 66.2vh;
    background-color: #f4ede4;


}

#ahover {

    color: #1264a3;
    text-decoration: none;



}

hr {

    border-color: rgb(0, 0, 0);
    width: 0%;
    transition: 1s;
    height: 2px;

}

.ahover2:hover hr {

    width: 45%;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1)1s;
    border-color: black;
    background-color: black;


}



#hr2 {

    border-color: rgb(0, 0, 0);
    width: 0%;
    transition: 1s;
    height: 2px;

}

.ahover2:hover #hr2 {

    width: 65%;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1)1s;
    border-color: black;
    background-color: black;


}



#hr3 {

    border-color: rgb(0, 0, 0);
    width: 0%;
    transition: 1s;
    height: 2px;

}

.ahover2:hover #hr3 {

    width: 58%;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1)1s;
    border-color: black;
    background-color: black;


}


.transformbutton:hover {

    transform: scale(99%);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)1s;
    cursor: pointer;
}


#section3 {

    width: 100%;
    height: 100%;
    background-color: #fff;



}

.font {

    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}



.squareback {

    width: 24%;
    height: 80vh;
    background-color: #ffffff;

}

.square {

    width: 100%;
    height: 100%;
    background-color: #ffffff;

}


.squareback:hover{
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
    transform: scale(1.1);
}


.smallcapsule {

    border-radius: 30px;
    background-color: #f6f6f6;
    width: 8%;
    height: 10%;
    transform: rotate(180%);

}

.capsuleimage {

    width: 60%;
    height: 60%;
    margin-left: 17px;
    margin-top: 10px;
}


#play {

    width: 8%;
    height: 12%;
    background-color: #1693f3;
    position: absolute;
    top: 560%;
    left: 16%;
    border-radius: 5px;
}

#play:hover{

    cursor: pointer;
    background-color: #fff;
}


.talk:hover{

    border: 2.5px solid #541554;
    cursor: pointer;
   
}

#meet:hover {

    background-color: #081602;
    cursor: pointer;
    


}


.downlist{

    width: 100%;
    height: 80%;
    background-color: #ffffff;

}


.downa{

    font-size: 14px;
    color: #000000;

}

.downa:hover{

    color: #0d91f7;
    cursor: pointer;
    text-decoration: none;


}

.downh{

    font-size: 15px;
    color: #000;
}

.downa2:hover{

    cursor: pointer;
    text-decoration: none;

}